@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  background-color: #F9F9F9;
  background-image: url('https://res2.yourwebsite.life/res/603074afa34a270022bbe41d/6034086aee264c00228f1ab1_optimized_1523.webp');
  font-family: 'Ubuntu', sans-serif;
  color: #6D6D6D;
  background-size: cover;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.title {
  text-align: center;
  margin-top: 60px;
  font-size: 3rem;
}

.btnAdd {
  border: none;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background: #0B7258;
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 3rem;
  color: #fff;
}

.boxScroll {
  width: 85vw;
  height: 75vh;
  background:#0000000a;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 1.5rem;
  width: 250px;
  height: 300px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
}